.sectionsNav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.navBtn{
    background-color: var(--mid);
    border-radius: 40px;
    padding: 15px 50px;
    font-family: "Poppins";
    font-size: 20px;
    border: 1.5px solid var(--x-light);
    color: var(--x-light);
    box-shadow: var(--shdow);
    transition: all 0.3s ease 0s;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
    width: 240px;
}
.moreBtn:hover, .navBtn:hover{
    background-color: var(--x-light);
    color: var(--mid);
    box-shadow: var(--shdow-hover);
    transform: translateY(-3px);
}

@media only screen and (max-width: 550px) {
    .navBtn{
        font-size: 16px;
        width: 150px;
        padding: 15px 20px;
    }
}